<ion-app>

  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['../home']">
          volver
      </ion-button>
    </ion-buttons>
      <img id="img" src="../../assets/icon/caja_vecina_logo.png" alt="caja_vecina_logo">
    </ion-toolbar>
     
  </ion-header>

   
 <ion-content>
   <form [formGroup]="formularioRegistro">
     <ion-item>
      <ion-label position="floating">nombre</ion-label>
      <ion-input formControlName ="nombre" ngModel minlength="4"></ion-input>
      
     </ion-item>
     <ion-item>
      <ion-label position="floating">contrasena</ion-label>
      <ion-input formControlName ="password" ngModel minlength="4" type="password"></ion-input>
      
     </ion-item>
     <ion-item>
      <ion-label position="floating">contrasena</ion-label>
      <ion-input formControlName ="confirmPassword" ngModel minlength="4" type="password"></ion-input>
      
     </ion-item>
   </form>
     
   
    

      <br>
     <ion-button expand="block" (click)="registrarse()" >
      registrarse
  </ion-button>
  
 </ion-content>
</ion-app>